*{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    margin:0;
    padding: 0;   
}

:root {
    --header-bg-color: #412315;
    --white: #ffffff;
    --header-color: #FBF2C0
  }  

ul{
    list-style: none;
}

header{
    background-color: var(--header-bg-color);
    color: var(--header-color);
    display: flex;
    height: 70px;
    justify-content: center;
    align-items: center;
    gap: 5px;   
}

h1{
    font-size: 22px;
}

.main-head{
    /*color: #A4805E;*/
    color: #91663C;
}

body{
    background-color: #EFEFEF;
}

.coffee-logo{
    height: 20px;
    /*margin-top: 9px;*/
}

.top-sec{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    
    margin: 35px 20px 0;
}

.items{
    background-color: #EEE1D5;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 15px;
    box-shadow: 0 3px 3px rgb(0 0 0 / 0.2);
}



.sub-list{
    font-size: 14px;
    color: #91663C;
    font-weight: 400 !important;
}

table {
    width: 100%;
    border-collapse: collapse;
}
  
td {
border: none;
padding: 5px;
}

/* Set the width of the first column to be bigger */
.first-tb td:nth-child(2) {
    font-weight: 700;
width: 70%;
}

.first-tb td:nth-child(3) {
    font-weight: 700;
}

.second{
  border-top: 2px solid #E6CCB4;
}

.name{
   /* background-color: #EEE1D5;
    padding: 15px;
    box-shadow: 0 3px 3px rgb(0 0 0 / 0.2);*/
    display: flex;
    flex-direction: column;
}

.name-bx{
    background-color: #EEE1D5;
    padding: 15px;
    box-shadow: 0 3px 3px rgb(0 0 0 / 0.2);
    margin-bottom: 2rem;
}

.payment-bx{
    background-color: #EEE1D5;
    padding: 15px;
    box-shadow: 0 3px 3px rgb(0 0 0 / 0.2);

}


.form-input {
    position: relative;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid #804E1F ;
    border-radius: 20px;
    background-color: #EEE1D5;
  }
  
.label-name {
    position: absolute;
    top: -10px;
    left: 25px;
    padding: 0 5px;
    font-size: 13px;
    color:#86572A;
    background-color: #eee1d5;
}

.short-input{
    max-width: 250px;

}

.total{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 8rem 20px; 
}

.total-amt{
    margin-bottom: 3rem;
}

.total-b{
    font-weight: 700;
}

.table-amt{
    max-width: 500px;
    width: 100%;
}

.table-amt td {
    padding-bottom: 12px;
}


.table-amt td:last-child {
    text-align: right;
}

.first{
    padding-right: 15rem;
}

.btn{
    width: 100%;
    background-color: #deb993     ;
    margin: 0 auto;
    border-radius: 20px;
    border: none;
    padding: 10px 30px;
    font-size: 16px;
    color: black;
    font-weight: 700;
}

.btn:hover{
    cursor: pointer;
    border: 2px solid #412315;
    background-color: #412315;
    color: white;
    

}
